@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  color: #EEEEEE;
  line-height: 1.1;
  font-family: 'Lato', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222831;
  color: #EEEEEE;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  z-index: 50;
}

nav .main-logo {
  color: #00cad4;
  font-size: 2rem;
  font-weight: 700;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222831;
  padding: 5rem 0 0 0;
}

.options-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.options-panel .filter-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .options-panel .filter-buttons-container {
    display: none;
  }
}

.options-panel .icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: inherit;
  border: none;
}

.game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.game-container #page-scroll-anchor {
  scroll-margin-top: 5rem;
}

.app-wrapper {
  width: 100%;
}

.sidebar-container {
  position: absolute;
  top: 0;
  right: calc(-200px + 2rem);
  background-color: none;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: #00ADB5;
  display: none;
  padding: 1rem;
  text-transform: capitalize;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

@media screen and (max-width: 575px) {
  .sidebar-container {
    display: block;
  }
}

.sidebar-open {
  background-color: #222831;
  border-left: 1px solid #393E46;
  border-bottom: 1px solid #393E46;
  right: 0;
}

.hamburger-menu {
  position: relative;
  height: 24px;
  margin: 0 auto 1rem 0;
  width: 24px;
}

.hamburger-top {
  position: absolute;
  top: -10px;
  left: 0;
  fill: #00ADB5;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 250ms 250ms;
  transition: all 250ms 250ms;
}

.hamburger-middle {
  position: absolute;
  top: 0px;
  left: 0;
  fill: #00ADB5;
  opacity: 1;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.hamburger-bottom {
  position: absolute;
  top: 10px;
  left: 0;
  fill: #00ADB5;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 250ms 250ms;
  transition: all 250ms 250ms;
}

.hamburger-menu-rotate-cw {
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-menu-rotate-ccw {
  top: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger-menu-fade-bar {
  opacity: 0;
}

.nav-filter-menu {
  position: relative;
  top: 0;
  right: calc(-200px);
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 200px;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.nav-active-filter {
  color: #EEEEEE;
}

.nav-filter-list .nav-filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 100%;
  padding-left: 1rem;
}

.nav-filter-list .nav-filter-item:hover {
  background-color: #222831;
}

.sidebar-active {
  right: 0;
  opacity: 1;
  height: auto;
  visibility: visible;
}

.styled-button {
  background-color: inherit;
  border: 1px solid #00ADB5;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 8px 2px rgba(5, 20, 103, 0.05);
          box-shadow: 0px 5px 8px 2px rgba(5, 20, 103, 0.05);
  color: #00ADB5;
  cursor: pointer;
  font-weight: 700;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.styled-button:hover {
  color: #00cad4;
  -webkit-box-shadow: 0px 5px 8px 2px rgba(5, 20, 103, 0.3);
          box-shadow: 0px 5px 8px 2px rgba(5, 20, 103, 0.3);
}

.landing-info {
  width: 70%;
}

.landing-info h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.landing-info p {
  line-height: 1.3;
  margin: 1rem;
}

.landing-info p:last-child, .landing-info .alret {
  font-size: .8rem;
}

.landing-info .alert {
  color: red;
  font-style: italic;
  font-weight: 700;
}

.landing-info em {
  font-style: italic;
  font-weight: 600;
}

.options-item-conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.filter-icon {
  fill: #00ADB5;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.filter-icon:hover {
  fill: #00cad4;
}

.sort-icon {
  fill: #00ADB5;
  height: 32px;
  width: 32px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.sort-icon:hover {
  fill: #00cad4;
}

.filter-tooltip {
  position: absolute;
  top: calc(-1.8rem - 3px);
  left: 0;
  background-color: #393E46;
  border-radius: 3px;
  color: #a1a1a1;
  font-size: 1rem;
  padding: .3rem .5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.sort-tooltip {
  position: absolute;
  top: -1.8rem;
  left: 0;
  background-color: #393E46;
  border-radius: 3px;
  color: #a1a1a1;
  font-size: 1rem;
  padding: .3rem .5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.tooltip-active {
  visibility: visible;
  opacity: 1;
}

.select-input {
  position: relative;
  border-bottom: 2px solid #00ADB5;
  color: #00ADB5;
  font-size: 0;
  opacity: 0;
  width: 0;
  visibility: hidden;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.select-active {
  font-size: inherit;
  width: 150px;
  visibility: visible;
  opacity: 1;
}

.select-menu {
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #222831;
  border: 1px solid #00ADB5;
  font-size: 0;
  height: 0;
  width: 0;
  z-index: 5;
  opacity: 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.select-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .2rem .5rem;
  border-left: 3px solid transparent;
}

.select-menu li:hover {
  background-color: #525964;
  border-left: 3px solid #a1a1a1;
  color: #00cad4;
  cursor: pointer;
}

.menu-active {
  opacity: 1;
  font-size: inherit;
  height: auto;
  width: 150px;
}

.page-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.page-controls span {
  color: #00ADB5;
  font-weight: 700;
  margin: 0 1rem 4px 1rem;
}

#top-pagination-controls {
  margin-left: auto;
}

#bottom-pagination-controls {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 2rem;
  width: 100%;
}

.pagination-button {
  background-color: inherit;
  border: none;
  padding: 0;
}

.prev-button-icon {
  fill: #00ADB5;
  height: 16px;
  width: 16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.next-button-icon {
  fill: #00ADB5;
  height: 16px;
  width: 16px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.prev-button-icon:hover, .next-button-icon:hover {
  fill: #00cad4;
}

.game-card {
  color: #EEEEEE;
  background-color: #393E46;
  border-radius: 3px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(5, 20, 103, 0.15);
          box-shadow: 0px 5px 10px 2px rgba(5, 20, 103, 0.15);
  height: auto;
  width: calc(25% - 2rem);
  margin: 1rem;
  overflow: hidden;
}

.game-card .image-wrapper {
  background-color: #525964;
  width: 100%;
}

.game-card img {
  height: auto;
  width: 100%;
}

.game-card .bottom-game-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  margin: .5rem .5rem .5rem .8rem;
}

.game-card .bottom-game-card h2 {
  font-size: 1.1rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.game-card .bottom-game-card span {
  color: #a1a1a1;
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.game-card .bottom-game-card .learn-more-button {
  background-color: #393E46;
  border: none;
  border-radius: 100px;
  color: #00ADB5;
  cursor: pointer;
  font-family: inherit;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: normal;
  margin-left: auto;
  text-transform: uppercase;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.game-card .bottom-game-card .learn-more-button:hover {
  color: #00cad4;
  letter-spacing: .5px;
}

@media screen and (max-width: 575px) {
  .game-card {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 850px) {
  .game-card {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 851px) and (max-width: 1100px) {
  .game-card {
    width: calc(33.3% - 2rem);
  }
}

.game-card:hover {
  -webkit-box-shadow: 0px 5px 8px 2px rgba(5, 20, 103, 0.3);
          box-shadow: 0px 5px 8px 2px rgba(5, 20, 103, 0.3);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222831;
  color: #EEEEEE;
  min-height: 100vh;
  width: 100%;
  padding: 1rem 0 2rem 0;
  text-align: center;
}

.modal .close-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 2rem;
  width: 4rem;
}

.modal .description-wrapper {
  background-color: #393E46;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 8px 2px rgba(5, 20, 103, 0.05);
          box-shadow: 0px 5px 8px 2px rgba(5, 20, 103, 0.05);
  padding: 2rem;
  margin: 2rem 0;
  width: 70%;
}

.modal .description-wrapper h2 {
  color: #00ADB5;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.modal .description-wrapper .description {
  line-height: 1.3;
  margin: 2rem 0;
}

.modal .description-wrapper .expand-button {
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 500px) {
  .modal .description-wrapper h2 {
    font-size: 1.5rem;
  }
}

.modal .screenshot-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  padding: 2rem 0;
  width: 100%;
}

.modal .screenshot-wrapper h3 {
  color: #00ADB5;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.modal .screenshot-wrapper .screenshot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal img {
  height: auto;
  min-width: 300px;
  width: 30%;
  margin: 1rem;
}

.modal .specs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding: 1rem;
  width: 100%;
}

.modal .specs-container {
  background-color: #393E46;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(5, 20, 103, 0.15);
          box-shadow: 0px 5px 10px 2px rgba(5, 20, 103, 0.15);
  text-align: center;
  min-width: 300px;
  padding: 2rem 1rem;
  margin: 1rem;
  width: 40%;
}

.modal .specs-container h4 {
  color: #00ADB5;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.modal .specs-container ul {
  line-height: 1.5;
}

.modal .specs-container .li-key {
  color: #018b92;
  font-style: italic;
  font-weight: 700;
  margin-right: .4rem;
}

.modal a {
  background-color: #018b92;
  border: 1px solid #222831;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 8px 2px rgba(5, 20, 103, 0.1);
          box-shadow: 0px 5px 8px 2px rgba(5, 20, 103, 0.1);
  color: #EEEEEE;
  display: block;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin: 1rem auto;
  width: 20rem;
}
/*# sourceMappingURL=App.css.map */